@import "tailwindcss";

@theme {
  --color-modra: #051d40;
  --color-natyzlata: #ad8330;
  --color-zlata: #daa520;
  --font-nadpis: var(--font-libre), "Libre Baskerville", serif;
  --font-obsah: var(--font-montserrat), "Montserrat", sans-serif;
  --font-logo: var(--font-charm), "Charm", cursive;
}

@layer base {
  .odkaz-bila {
    @apply hover:underline hover:underline-offset-2 hover:decoration-natyzlata hover:text-natyzlata transition ease-in-out delay-150;
  }
  .hajednicka {
    @apply sm:text-3xl text-2xl font-medium font-nadpis mb-2 text-gray-900 mt-4;
  }
  .hadvojka {
    @apply sm:text-xl text-2xl mb-4 font-medium text-gray-900 font-nadpis mt-4;
  }
}
