@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap");
body,
html {
  background-color: #fff;
  scroll-behavior: smooth !important;
  --scroll-behavior: smooth !important;
}
header {
  z-index: 2 !important;
}
.menu :focus {
  color: #fff !important;
}
.hero-background {
  background-image: url("https://res.cloudinary.com/dam7wdzvx/image/upload/v1703670731/pohrebniustavcibulka/hero_ambr9j.webp");
  background-position: center center;
  background-size: cover;
}
.smallHero {
  background-image: url("https://res.cloudinary.com/dam7wdzvx/image/upload/v1703670731/pohrebniustavcibulka/hero_ambr9j.webp");
  background-position: center center;
  background-size: cover;
  min-height: 300px;
}
ol.parte {
  padding-left: 1rem;
}
.parte > li {
  margin-top: 1em;
}
.menuParent {
  /* background-color: red; */
}
.menuParent:hover {
  /* background-color: blue; */
}
.menuKid {
  display: none;
}
.menuParent:hover > .menuKid {
  display: block !important;
}
