@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@200;500&display=swap");

.hero-background {
  background-image: url("/zemechy_kriz_kostelik.webp");
  background-position: center center;
  background-size: cover;
}
ol.parte {
  padding-left: 1rem;
}
.parte > li {
  margin-top: 1em;
}
