@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@200;500&display=swap");
body,
html {
  background-color: #fff;
}
:focus {
  color: #fff !important;
}
.hero-background {
  background-image: url("https://dummyimage.com/1200.jpg?text=hero%20image");
  background-position: center center;
  background-size: cover;
}
.smallHero {
  background-image: url("https://dummyimage.com/1200.jpg?text=smallHero%20image");
  background-position: center center;
  background-size: cover;
  min-height: 300px;
}
ol.parte {
  padding-left: 1rem;
}
.parte > li {
  margin-top: 1em;
}
